################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/saved_poker.txt
/saved_poker_chips.txt
